<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rolling Stone Top 500 albums of all time</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="products" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>User</th>
              <th>Warehouse</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Sku</th>
              <th>Date</th>
              <th>Total amout</th>
              <th>Sales price</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>
      $(document).ready(function() {
          var table = $('#products').DataTable({
              "serverSide": true,
              "ajax": "/stockapp/api/product-list?format=datatables",
              "columns": [
                  {"data": "user", "searchable": true},
                  {"data": "warehouse"},
                  {"data": "name"},
                  {"data": "price"},
                  {"data": "quantity"},
                  {"data": "sku"},
                  {"data": "date"},
                  {"data": "total_amout"},
                  {"data": "sales_price"},
              ]
          });
      });
  </script>
</body>
</html>